section.mt-md-5.section-footer
    .container.position-absolute.center-image-absolute.pt-md-5.d-md-flex
        .col-md-2.pt-5.pb-4.d-md-block.d-flex
            img(src="image/logo_wibla_footer.svg", alt="", srcset="").logo-footer
            div.mt-md-4.ml-auto.d-block.d-md-none
                a.link-footer
                    img(src="image/facebook.png", data-name="facebook").icono-hover
                a.link-footer.mx-3
                    img(src="image/linkedin.png", data-name="linkedin").icono-hover
                a.link-footer
                    img(src="image/instagram.png", data-name="instagram").icono-hover
        .col-md-7.pt-md-5.row
            .col-md-4.col-6
                p.text-white.mb-2 Productos
                .raya.col-md-2.col-3.py-1-raya.bg-white
                ul.footer-list.mt-md-4.mt-4
                    li
                        a(href="#")
                            i.fas.fa-chevron-right.font10-px.mr-md-2 
                            span Cámara
                    li
                        a(href="#") 
                            i.fas.fa-chevron-right.font10-px.mr-md-2 
                            span Lentes
                    li
                        a(href="#") 
                            i.fas.fa-chevron-right.font10-px.mr-md-2 
                            span Proyectos
            .col-md-4.col-6
                p.text-white.mb-2 Conocenos
                .raya.col-md-2.col-3.py-1-raya.bg-white
                ul.footer-list.mt-md-4.mt-4
                    li
                        a(href="#") 
                            i.fas.fa-chevron-right.font10-px.mr-md-2 
                            span Nosotros
                    li
                        a(href="#") 
                            i.fas.fa-chevron-right.font10-px.mr-md-2 
                            span Preguntas frecuentes
                    li
                        a(href="#") 
                            i.fas.fa-chevron-right.font10-px.mr-md-2 
                            span Contacto
            .col-md-4.d-md-block.d-none
                p.text-white Siguenos
                .raya.col-md-2.col-1.py-1-raya.bg-white
                div.mt-md-4
                    a.link-footer
                        img(src="image/facebook.png", data-name="facebook").icono-hover
                    a.link-footer.mx-md-3
                        img(src="image/linkedin.png", data-name="linkedin").icono-hover
                    a.link-footer
                        img(src="image/instagram.png", data-name="instagram").icono-hover
                
        .col-md-3.pt-md-5.pt-4
            p.text-white.mb-2 Newsletter
                .raya.col-md-2.col-1.py-1-raya.bg-white
                .mt-md-4
                    .md-form.md-outline.footer-input-pl.mt-4
                        input#form1.form-control(type='text')
                        label(for='form1') Example label
                    
    embed(src="image/fondo-footer.svg", type="").d-md-block.d-none
    embed(src="image/fondo-footer-m-1.svg", type="" style="width: 100%;").d-md-none.d-block
footer.pt-0.bg-white
    // Copyright
    .footer-copyright.py-3.text-center
        .row.container.mx-auto
            .col-md-6.col-12.text-md-left.text-center.font12-px
                |2020 © Wibla. Todos los derechos reservados. 
            .col-md-6.col-12.text-md-right.text-center.font12-px
                a(href="#").mr-3.text-primary.font-weight-500 
                    u Terminos y Condiciones
                a(href="#").text-primary.font-weight-500 
                    u Política de Privacidad