#slide-out-order.side-nav.fixed.bg-white
    ul.custom-scrollbar
        li.d-flex.container.pb-4    
            a.pl-0(href='/').pl-3.pt-2
                img(src="image/logo_wibla_header.svg", alt="")
            a(href="" ).closed.button-collapse.ml-auto.p-3.pt-0
                img(src="image/icono-x.svg", alt="", srcset="" style="width: 30px;")
        li    
            ul.collapsible.collapsible-accordion.col-8.mx-auto.mt-5
                li  
                    a(href="c_dai.html").collapsible-header.waves-effect
                        i.fas.fa-chevron-right
                        |Descatados
                li 
                    a(href="c_btc.html").collapsible-header.waves-effect
                        i.fas.fa-chevron-right  
                        |En Oferta
                li  
                    a(href="blog").collapsible-header.waves-effect  
                        i.fas.fa-chevron-right
                        |Nuevos 
                li  
                    a(href="blog").collapsible-header.waves-effect  
                        i.fas.fa-chevron-right
                        |Order 1 
                li  
                    a(href="blog").collapsible-header.waves-effect  
                        i.fas.fa-chevron-right
                        |Order 2 
.sidenav-bg.mask-strong 