section.pt-md-5.py-5.pb-md-0.bg-white
    h2.text-center.font49-px.mt-md-4(data-aos="fade-down" data-aos-duration="500" ) Conoce todos nuestros productos
    .container.mt-md-5.my-5.my-md-0.pt-4.d-flex.justify-content-md-center.pb-md-5.mx-auto.pt-md-4.overflow-x-auto.scroll-count(data-aos="fade-up" data-aos-duration="1500" )
        .col-md-2.col-4
            img(src="image/icono-camara-circulo.svg", alt="", srcset="").mx-auto.d-block.iconos-productos
            div.mt-4
                h3.font24-px.text-center Rápido!
        .col-md-2.col-4
            img(src="image/icono-lentes-circulo.svg", alt="", srcset="").mx-auto.d-block.iconos-productos
            div.mt-4
                h3.font24-px.text-center Ahorrás!
        .col-md-2.col-4
            img(src="image/icono-proyector-circulo.svg", alt="", srcset="").mx-auto.d-block.iconos-productos
            div.mt-4
                h3.font24-px.text-center Seguro!
        .col-md-2.col-4
            img(src="image/icono-memoria-circulo.svg", alt="", srcset="").mx-auto.d-block.iconos-productos
            div.mt-4
                h3.font24-px.text-center Seguro!
        .col-md-2.col-4
            img(src="image/icono-accesorio-circulo.svg", alt="", srcset="").mx-auto.d-block.iconos-productos
            div.mt-4
                h3.font24-px.text-center Seguro!
        .col-md-2.col-4
            img(src="image/icono-gaming-circulo.svg", alt="", srcset="").mx-auto.d-block.iconos-productos
            div.mt-4
                h3.font24-px.text-center Seguro!
    .progress.md-progress.col-5.px-0.mx-auto.d-md-none.d-flex(style="height: .5rem !important;")
        .progress-bar.bg-primary(role='progressbar' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100')