extends ../layouts/_layout
block style
    link(rel="stylesheet", href="css/multi-range.min.css")
    link(rel="stylesheet", href="css/rating.min.css")
block content
    main(style="padding-top: 4.5rem;")
        section
            .container.position-absolute-md.absulute-center.py-section-home.d-md-flex.d-block.pt-5.px-md-5.position-absolute.center-image-absolute(style="z-index: 99;")
                div.col-md-5.col-12.mt-container-home.mt-md-5
                    div.pl-md-5
                        h1.montserrat.text-md-left.text-white.font42-px.text-center  Contacto
                        p.mt-md-4.text-md-left.font16-px.text-white.text-center
                            | Si no encontrás tu consulta acá, podés <br> escribirnos a  
                            a(href="mailto:ayuda@wibla.com").text-white ayuda@wibla.com
                            |con tu <br> pregunta, estamos para ayudarte.
                .col-md-7.col-12.mt-container-home.pt-md-5
                    div.card.d-flex.py-5.col-md-10(style="border-radius: 20px;")
                        .px-md-5.col-md-12
                            h2.text-primary.font40-px ¡Muchas gracias <br> enviar tu consulta!
                            p.font16-px Nos pondremos en contacto a la brevedad para <br> responder tu dudo o reclamo.
            embed(src="image/header_contacto.svg", style="width:100%").mx-auto.d-none.d-md-block
            embed(src="image/header_contacto-m.svg", style="width:100%").mx-auto.d-block.d-md-none
        include ../components/_top_footer
block script
    script.
        $(document).ready(function() {
            $('.owl-home').owlCarousel({
                loop:true,
                margin:10,
                responsiveClass:true,
                autoplay:true,
                autoplayTimeout:5000,
                autoplayHoverPause:true,
                items:1,
                nav:false,
                dots:false         
            })
            $('.mdb-select').materialSelect();
        });
        
        