extends ../layouts/_layout
block content
    main(style="padding-top: 4.5rem; he ")
        section.bg-section-home
            .container.position-absolute-md.absulute-center.py-section-home.d-md-flex.d-block.pt-5.px-md-5.position-absolute.center-image-absolute(style="z-index: 99;")
                div.col-md-5.col-12.mt-container-home.mt-4
                    div
                        h1.font-weight-bold.montserrat.text-md-left.text-primary.font43-px(data-aos="fade-right" data-aos-duration="500" ) El marketplace <br> para profesionales <br> audiovisuales
                        p.font-weight-500.inline15-rem.mt-md-4.text-md-left.font18-px(data-aos="fade-up" data-aos-duration="1500" ) Lorem ipsum dolor sit amet, consectetuer <br> adipiscing elit, sed diam nonummy nibh <br> euismod tincidunt.
                    .d-md-none.d-block
                    div.pt-3(data-aos="flip-up" data-aos-duration="2000")
                        a(href="").btn.btn-outline-primary.btn-rounded.d-block.ml-md-0.col-md-4.col-6.font-weight-bold Comprar ahora!
                .col-md-7.col-12.mt-container-home.d-none.d-md-block
            div.owl-carousel.owl-home.d-none.d-md-block
                embed(src="image/fondo_header.png").mx-auto.d-block
                embed(src="image/fondo_header.png").mx-auto.d-block
                embed(src="image/fondo_header.png").mx-auto.d-block
            div.owl-carousel.owl-home.d-block.d-md-none
                embed(src="image/fondo_header-m.png", style="width:100%").mx-auto.d-block
                embed(src="image/fondo_header-m.png", style="width:100%").mx-auto.d-block
                embed(src="image/fondo_header-m.png", style="width:100%").mx-auto.d-block
        section.pt-md-5.containt-layout.mb-md-5.pb-md-5
            h2.text-center.font53-px.mt-md-3.my-5(data-aos="fade-up" data-aos-duration="1500" ) Conoce todos nuestros productos
            div.container.px-md-auto.mx-md-auto.mx-0.px-0.mt-md-5.d-md-flex#camaras
                .card.bg-secondary.col-md-3.pl-md-5.pt-md-5.pb-md-4.py-4.pl-4.card-rounde-left(data-aos="zoom-in" data-aos-duraction="1500")
                    embed(src="image/icono-camara.svg", type="").mr-auto
                    h4.text-white.mt-md-3.mt-4.font38-px Cámaras
                    .raya.py-1-raya.bg-white.rounded.col-md-3.my-md-3.d-md-block.d-none
                    p.text-white Lorem ipsum dolor sit amet, consecte tuer adipiscing elit.
                    button.btn.btn-outline-white.btn-rounded.col-md-5.col-4.btn-sm.px-md-0.py-md-2.mt-md-3 Ver todo
                .col-md-12.d-md-flex.owl-carousel.owl-product-1.px-0.mx-0.bg-slider
                    a(href="product_detail_a.html" data-aos="zoom-in" data-aos-duraction="1500")
                       .content-product.mx-md-auto
                            img(src="image/foto-1.svg", alt="", srcset="" ).img-product
                            div.px-5.text-dark
                                p.mb-0.mt-2 Cámara mirrorless
                                h5 Cannon EOS R6
                    a(href="product_detail_a.html" data-aos="zoom-in" data-aos-duraction="1500")
                       .content-product.mx-md-auto    
                            img(src="image/foto-2.svg", alt="", srcset="" ).img-product
                            div.px-5.text-dark
                                p.mb-0.mt-2 Cámara mirrorless
                                h5 Cannon EOS R6
                    a(href="product_detail_a.html" data-aos="zoom-in" data-aos-duraction="1500")
                       .content-product.mx-md-auto    
                            img(src="image/foto-3.svg", alt="", srcset="" ).img-product
                            div.px-5.text-dark
                                p.mb-0.mt-2 Cámara mirrorless
                                h5 Cannon EOS R6

            div.container.px-md-auto.mx-md-auto.mx-0.px-0.mt-md-5.d-md-flex#lentes
                .card.bg-primary.col-md-3.pl-md-5.pt-md-5.pb-md-4.py-4.pl-4.card-rounde-left(data-aos="zoom-in" data-aos-duraction="1500")
                    embed(src="image/icono-lentes.svg", type="").mr-auto
                    h4.text-white.mt-md-3.font38-px Lentes
                    .raya.py-1-raya.bg-white.rounded.col-md-3.my-md-3.d-md-block.d-none
                    p.text-white Lorem ipsum dolor sit amet, consecte tuer adipiscing elit.
                    button.btn.btn-outline-white.btn-rounded.col-md-5.col-4.btn-sm.px-md-0.py-md-2.mt-md-3 Ver todo
                .col-md-12.d-md-flex.owl-carousel.owl-product-1.px-0.mx-0.bg-slider
                    a(href="product_detail_a.html" data-aos="zoom-in" data-aos-duraction="1500")
                        .content-product.mx-md-auto
                            img(src="image/foto-4.svg", alt="", srcset="" ).img-product
                            div.px-5.text-dark
                                p.mb-0.mt-2 Cámara mirrorless
                                h5 Cannon EOS R6
                    a(href="product_detail_a.html" data-aos="zoom-in" data-aos-duraction="1500")
                        .content-product.mx-md-auto
                            img(src="image/foto-5.svg", alt="", srcset="" ).img-product
                            div.px-5.text-dark
                                p.mb-0.mt-2 Cámara mirrorless
                                h5 Cannon EOS R6
                    a(href="product_detail_a.html" data-aos="zoom-in" data-aos-duraction="1500")
                        .content-product.mx-md-auto
                            img(src="image/foto-6.svg", alt="", srcset="" ).img-product
                            div.px-5.text-dark
                                p.mb-0.mt-2 Cámara mirrorless
                                h5 Cannon EOS R6
            div.container.px-md-auto.mx-md-auto.mx-0.px-0.mt-md-5.d-md-flex#proyectores
                .card.bg-warning.col-md-3.pl-md-5.pt-md-5.pb-md-4.py-4.pl-4.card-rounde-left(data-aos="zoom-in" data-aos-duraction="1500")
                    embed(src="image/icono-proyector.svg", type="").mr-auto
                    h4.text-white.mt-md-3.font38-px Proyectores
                    .raya.py-1-raya.bg-white.rounded.col-md-3.my-md-3.d-md-block.d-none
                    p.text-white Lorem ipsum dolor sit amet, consecte tuer adipiscing elit.
                    button.btn.btn-outline-white.btn-rounded.col-md-5.col-4.btn-sm.px-md-0.py-md-2.mt-md-3 Ver todo
                .col-md-12.d-md-flex.owl-carousel.owl-product-1.px-0.mx-0.bg-slider
                    a(href="product_detail_a.html" data-aos="zoom-in" data-aos-duraction="1500")
                        .content-product.mx-md-auto
                            img(src="image/foto-7.svg", alt="", srcset="" ).img-product
                            div.px-5.text-dark
                                p.mb-0.mt-2 Cámara mirrorless
                                h5 Cannon EOS R6
                    a(href="product_detail_a.html" data-aos="zoom-in" data-aos-duraction="1500")
                        .content-product.mx-md-auto
                            img(src="image/foto-8.svg", alt="", srcset="" ).img-product
                            div.px-5.text-dark
                                p.mb-0.mt-2 Cámara mirrorless
                                h5 Cannon EOS R6
                    a(href="product_detail_a.html" data-aos="zoom-in" data-aos-duraction="1500")
                        .content-product.mx-md-auto
                            img(src="image/foto-9.svg", alt="", srcset="" ).img-product
                            div.px-5.text-dark
                                p.mb-0.mt-2 Cámara mirrorless
                                h5 Cannon EOS R6
        section.pt-md-5.bg-section-home
            h2.text-center.font49-px.text-secondary.position-absolute.center-image-absolute.mt-text-garantia.font-weight-bold Garantías 100% oficiales!
            embed(src="image/fondo-garantia.svg", type="" style="width: 100%;").mx-auto.d-md-block.d-none.container
            embed(src="image/fondo-garantia-m.svg", type="" style="width: 100%;").mx-auto.d-block.d-md-none
        section.pt-md-5.py-5
            h2.text-center.font72-px.text-primary(data-aos="flip-down" data-aos-duraction="1500") Ventajas <span class="font-weight-bold">wibla!<span>
            .container.mt-md-5.my-5.my-md-0.pt-4.d-flex.justify-content-md-center.pb-md-5.mx-auto.pt-md-5.overflow-x-auto.scroll-count(data-aos="fade-down" data-aos-duration="1500" )
                .col-md-3.col-9
                    img(src="image/icono-reloj.svg", alt="", srcset="").mr-md-auto.iconos-ventajas
                    div.mt-4
                        h3.font35-px.text-primary Rápido!
                        p.font16-px Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam adipis.
                .col-md-3.col-9
                    img(src="image/icono-cartera.svg", alt="", srcset="").mr-md-auto.iconos-ventajas
                    div.mt-4
                        h3.font35-px.text-primary Ahorrás!
                        p.font16-px Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam adipis.
                .col-md-3.col-9
                    img(src="image/icono-telefono.svg", alt="", srcset="").mr-md-auto.iconos-ventajas
                    div.mt-4
                        h3.font35-px.text-primary Seguro!
                        p.font16-px Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam adipis.
            .progress.md-progress.col-5.px-0.mx-auto.d-md-none.d-flex(style="height: .5rem !important;")
                .progress-bar.bg-primary(role='progressbar' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100')


block script
    script.
        $(document).ready(function() {
            $('.scroll-count').scroll(function(){
                let scroll = $(this).scrollLeft();
                let suma = scroll/12*5;
                $('.progress-bar').css('width',suma+'px');
            });
            
            $('.owl-home').owlCarousel({
                loop:true,
                margin:10,
                responsiveClass:true,
                autoplay:true,
                autoplayTimeout:5000,
                autoplayHoverPause:true,
                items:1,
                nav:false,
                dots:false         
            })
            $('.owl-product-1').owlCarousel({
                loop:true,
                margin:0,
                responsiveClass:true,
                //- autoplay:true,
                //- autoplayTimeout:5000,
                //- autoplayHoverPause:true,
                nav:false,
                dots:false,
                responsive:{
                    0:{
                        margin:-40,
                        items:1
                    },
                    320:{
                        margin:-60,
                        items:1
                    },
                    400:{
                        margin:-80,
                        items:1
                    },
                    768:{
                        margin:0,
                        items:3
                    },
                    1400:{
                        margin:100,
                        items:3
                    }
                }         
            })
            
        });